---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources: []

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
  - name: foo-config
    envs:
      - params.env

vars: []

configurations:
  - params.yaml

